In [1]:
import pandas as pd

In [13]:
orthogroup_gene_count = pd.read_csv('/Users/curiecha/Desktop/OrthoFinder/Results_Dec11/Orthogroups/Orthogroups.GeneCount.tsv', sep='\t')

In [14]:
orthogroup_gene_count

,Orthogroup,BFL,BMI,CFR,CLA,COW,EMU,HCA,HVU,NVE,PMA,RES,SRO,TAD,Total
0,OG0000000,0,0,0,0,0,0,0,752,0,0,1,0,0,753
1,OG0000001,0,45,0,228,0,269,2,37,25,22,1,0,0,629
2,OG0000002,7,2,1,228,36,291,13,2,2,15,10,19,1,627
3,OG0000003,1,0,0,0,0,0,0,549,0,3,0,0,0,553
4,OG0000004,1,0,0,149,1,172,0,1,0,36,14,0,1,375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37852,OG0037852,0,0,0,0,0,0,0,0,0,0,0,0,2,2
37853,OG0037853,0,0,0,0,0,0,0,0,0,0,0,0,2,2
37854,OG0037854,0,0,0,0,0,0,0,0,0,0,0,0,2,2
37855,OG0037855,0,0,0,0,0,0,0,0,0,0,0,0,2,2
37856,OG0037856,0,0,0,0,0,0,0,0,0,0,0,0,2,2

In [21]:
# (COW | SRO) & (HCA | BMI) & (EMU | CLA) & (RES | NVE | BFL | PMA)

mask1 = (orthogroup_gene_count['COW'] >= 1) | (orthogroup_gene_count['SRO'] >= 1)
mask2 = (orthogroup_gene_count['HCA'] >= 1) | (orthogroup_gene_count['BMI'] >= 1)
mask3 = (orthogroup_gene_count['EMU'] >= 1) | (orthogroup_gene_count['CLA'] >= 1)
mask4 = (orthogroup_gene_count['RES'] >= 1) | (orthogroup_gene_count['NVE'] >= 1) | (orthogroup_gene_count['BFL'] >= 1) | (orthogroup_gene_count['PMA'] >= 1)

final_mask = mask1 & mask2 & mask3 & mask4
filtered_df = orthogroup_gene_count[final_mask]
print(filtered_df)

      Orthogroup  BFL  BMI  CFR  CLA  COW  EMU  HCA  HVU  NVE  PMA  RES  SRO  \
2      OG0000002    7    2    1  228   36  291   13    2    2   15   10   19
5      OG0000005   59   44    2   11    3   15   15   32   58   71   40    0
7      OG0000007   65   29    2   11    0   11   21   24   34   48   21    2
9      OG0000009   42   19    2   27   24   31   11   32   18   24   16   14
15     OG0000015   29   12    1    6    1    8   12   47   42   28   42    1
...          ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9522   OG0009522    0    1    1    1    1    1    0    0    0    1    0    0
9528   OG0009528    0    1    0    2    1    2    0    0    0    0    1    0
9761   OG0009761    0    0    0    1    1    1    1    0    0    1    1    0
10223  OG0010223    1    1    0    1    1    1    0    0    0    0    0    0
10472  OG0010472    0    1    0    1    0    1    1    0    0    1    0    1

       TAD  Total
2        1    627
5       21    371
7       11    279
9        5    265
15       7    236
...    ...    ...
9522     1      7
9528     0      7
9761     1      7
10223    1      6
10472    0      6

[3645 rows x 15 columns]

In [ ]:
# (COW | SRO) & (HCA | BMI) & (EMU | CLA) & (RES | NVE | BFL | PMA)
COW HCA EMU RES 
COW HCA EMU NVE
COW HCA EMU BFL
COW HCA EMU PMA

SRO HCA EMU RES 
SRO HCA EMU NVE
SRO HCA EMU BFL
SRO HCA EMU PMA

COW BMI EMU RES 
COW BMI EMU NVE
COW BMI EMU BFL
COW BMI EMU PMA

In [ ]:
Cowczarzaki:
    proteins: /path/to/proteins_in_Cel_genome.fasta
    chrom: /path/to/Cel_genome_annotation.chrom
    genome: /path/to/Cel_genome_assembly.fasta
    minscafsize: 1000000  # Only plots scaffolds that are 1 Mbp or longer